{% extends 'base.html.twig' %}

{% block body %}
    <h1>New trick</h1>

    {{ form_start(trickForm) }}
        {{ form_widget(trickForm) }}

        <button type="submit">Submit</button>
    {{ form_end(trickForm) }}
{% endblock %}

{% block title %}

{% endblock %}

