{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body_class %}<body class="contact">{% endblock %}
{% block header_class %}<header id="header">{% endblock %}
{% block body %}
    <article id="main">
        <header class="special container">
            <h2>Connexion</h2>
        </header>
        <section class="wrapper style4 special container medium">
        <form method="post">
            <div class="row gtr-50" id="container-login">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

                <div class="col-6 col-12-mobile">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                </div>
                <div class="col-6 col-12-mobile">
                <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>


            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
                <a href="{{ path('app_forgot_password') }}" >Mot de passe oublié ?</a>
            <button class="btn btn-lg btn-primary" type="submit">
                Connexion
            </button>
            </div>
        </form>
        </section>
    </article>
{% endblock %}
