<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% for message in app.flashes('success') %}
            {{ message }}
        {% endfor %}

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        {% endblock %}
    </body>
</html>
